body{
    background: #FF99FF;
}
div{
    width: 300px;
    height: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ff0;
    text-align: center;
}
button{
    color: #ff0;
    background: #000; 
    border: none;
}
#move{
    position: relative;
}